@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: 'Favorit';
  src: url('/fonts/Favorit/Favorit-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit';
  src: url('/fonts/Favorit/Favorit-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decular';
  src: url('/fonts/Decular/Decular-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decular';
  src: url('/fonts/Decular/Decular-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Favorit', 'Decular', 'Bayon';
}



input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 18px;
  width: 10px;
  background: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: -8px;
  position: relative;
  z-index: 10;
}

input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 10px;
  background: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}


/* scrollbar css  */

